# mongodb | postgres
DATABASE_DRIVER="mongodb"
# 27017 - mongo; 5432 - postgres
DATABASE_PORT=5432 
DATABASE_HOST="localhost"
DATABASE_NAME="afisha"

DEBUG=*
DATABASE_USERNAME="afisha"
DATABASE_PASSWORD="afisha"