DATABASE_DRIVER="mongodb" # mongodb | postgres
DATABASE_URL="mongodb://localhost:27017/afisha"
# DATABASE_URL="postgres://localhost:5432/afisha" 
DEBUG=*
DATABASE_USERNAME="afisha"
DATABASE_PASSWORD="afisha"